@media screen and (min-width: 480px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 425px;
	}
}
/* ============= Header ============ */
.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation {
	border-bottom: 1px solid #e7e9fc;
}
.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
	padding: 24px 0;
}
.sub-logo {
	color: var(--accent-main-color);
}
.mobile-menu-open {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 0;
}
/* Mobile-menu */

.mobile-menu {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	top: 0;
	left: 0;
	z-index: 10000;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.mobile-menu-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 60px;
	width: 480px;
}
.menu-nav-mobile {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 40px;
}

.menu-link-mobile {
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-text-color);
}
.current {
	color: var(--active-link-color);
}
.contacts-inform-mobile-mail {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #434455;
}


.container-list-contacts {
	margin-top: auto;
}
.contacts-mobile {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.social-list-mobile {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
}

.contacts-inform-mobile-phone {
	display: block;
	font-weight: 600;
	font-size: 34px;
	line-height: 1.1;
	text-transform: capitalize;
	font-style: normal;
	color: #404bbf;
}

.mobile-menu-close-btn {
	position: absolute;
	top: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--third-accent-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0;
	cursor: pointer;
}


/* ============= /Header ============ */

/* ============= Hero ============ */

.hero-page {
	background-color: var(--main-text-color);
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 112px 0 112px 0;
	text-align: center;
	margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 420px),
	screen and (min-resolution: 192dpi) and (min-width: 420px),
	screen and (min-resolution: 2dppx) and (min-width: 420px) {
	.hero-page {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg-hero-mobile@2x.jpg);
	}
}

.hero-title {
	margin: 0 auto;
	max-width: 319px;
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: var(--main-color);
	text-transform: capitalize;
}

.button.primary {
	padding: 16px 32px;
	min-width: 169px;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin: 0 auto;
	display: block;
	background: var(--accent-main-color);
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--main-color);

	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}



/* ============= /Hero ============ */

/* ============= Quality ============ */
.quality {
	padding: 96px 0;
}
.hidden-tittle {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.quality-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 72px;
}
.subtitle {
	margin-bottom: 8px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-text-color);
}
.quality-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quality-item .descr {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--address-color-link);
}
.quality-list-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	width: 264px;
	height: 112px;

	background: #f4f4fd;
	border-radius: 4px;
}

/* ============= /Quality ============ */

/* ============= Team ============ */
.team {
	padding: 96px 0;
	background-color: var(--secondary-accent-color);
}
.section-title-team {
	font-weight: 700;
	margin-bottom: 72px;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-text-color);
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;
	gap: 72px;
	text-align: center;
}
.team .item {
	width: 260px;
	background-color: var(--main-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-descr {
	padding: 32px 16px;
}
.social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.social-list-icon {
	fill: var(--secondary-accent-color);
}
.social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--accent-main-color);
}

/* ============= /Team ============ */

/* ============= Customers ============ */
.customers {
	padding: 96px 0;
}
.section-title-customers {
	margin-bottom: 72px;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-text-color);
}

.customers-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 22px;
	justify-content: center;
}
.customers-list-item {
	width: 190px;
	height: 88px;
}
.customers-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	border: 1px solid var(--icon-main-color);
	border-radius: 4px;
}

.customers-list-icon {
	fill: var(--icon-main-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= /Customers ============ */

/* ============= Footer ============ */

.footer {
	padding: 96px 0;
	background-color: var(--main-text-color);
}
.logo-foot {
	display: block;
	color: var(--secondary-accent-color);
	padding: 0;
	margin-bottom: 16px;

}
.footer-descr {
    margin-bottom: 72px;
	max-width: 268px;

	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--third-accent-color);
}
.footer-subtitle {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ffffff;
	text-align: center;
}
.footer-container {
	display: flex;
    flex-direction: column;
}
.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-list {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-bottom: 72px;
}
.social-media-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	width: 40px;
	height: 40px;
} 

.social-media-list-icon {
	fill: var(--secondary-accent-color);
}
.form-title-footer {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-color);
	text-align: center;
}
.example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
	row-gap: 16px;
}
.input-footer {
	width: 396px;
	height: 40px;
	padding: 8px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;
}
.input-footer::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
}

.submit-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	gap: 16px;
	background: var(--accent-main-color);
	border-radius: 4px;
	border: transparent;
	cursor: pointer;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--main-color);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.submit-footer .icon-send-footer {
	fill: var(--main-color);
}

/* ============ Modal Window ========== */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(46, 47, 66, 0.4);

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 24px;
	width: 392px;
	min-height: 586px;
	background-color: var(--modal-color);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 72px 24px 24px;
}

.modal-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--third-accent-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0;
	cursor: pointer;
}


.modal-close-btn-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-header {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.contact-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 11px 38px 11px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.label-title {
	display: block;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #8e8f99;
	margin-bottom: 4px;
}

.contact-form-message {
	padding: 8px 16px;
	width: 100%;
	height: 120px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: rgba(117, 117, 117, 0.5);
}
.form-control {
	position: relative;
}
.form-group {
	margin-bottom: 8px;
}

.contact-icon-input {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-title {
	display: flex;
	margin-bottom: 24px;
	margin-top: 16px;
}
.checkbox-desr {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	color: #757575;
	gap: 8px;
}
.checkbox-desr:before {
	content: "";
	width: 16px;
	height: 16px;
	display: block;
	border: 1.25px solid var(--main-text-color);
	border-radius: 2px;
	cursor: pointer;
}
.privacy-check:checked + .checkbox-desr::before {
	display: block;
	background: var(--active-link-color);
	background-position: center;
	border: transparent;
	background-image: url(../images/check.svg);
	background-repeat: no-repeat;
}

.checkbox-desr-link {
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	text-decoration-line: underline;
	color: #4d5ae5;
}



/* ----------------------------------- Portfolio INDEX ---------------------------------------- */
.portfolio {
	padding: 48px 0;
}
.nav-list{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-bottom: 48px;
}
.btn-port {
	display: block;
	padding: 12px 24px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--accent-main-color);
	background-color: var(--secondary-accent-color);
	border: 1px solid var(--third-accent-color);
	border-radius: 4px;
	cursor: pointer;
}


.img-descr {
	padding: 32px 16px;
	border: 1px solid var(--third-accent-color);
	border-top: 0;
	background-color: var(--main-color);
}
.img-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
}

@media screen and (max-width: 479px) {
	.contacts-inform-mobile-phone {
		font-size: 23px;
	}
	.hero-title {
		font-size: 32px;
	}
	.input-footer {
		width: 290px;
	}
}
@media screen and (max-width: 420px) {
	.modal{
		width: 300px;
	}
	.modal-header{
		font-size: 11px;
	}
}


/* ============= /Footer ============ */
